@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #000000ea !important;
    filter: invert(100%) hue-rotate(180deg);
}

#root {
    padding: 20px;
}
  